@page "/"

@rendermode InteractiveWebAssembly

<PageTitle>Home</PageTitle>

<div class="container">
    <h1>RecipeBytes</h1>

    <div class="col-8">
        <p class="fs-4">
            Welcome to RecipeBytes, your go-to recipe management solution for organizing and adding recipes, designed with the home cook in mind!
        </p>
        <p>
            Say goodbye to recipe chaos and hello to culinary organization with our intuitive platform. Whether you're looking to streamline your meal planning or discover new culinary delights, RecipeBytes empowers you to effortlessly organize, customize, and add your favorite recipes. From family classics to newfound favorites, simplify your kitchen experience and unlock a world of culinary creativity with RecipeBytes.
        </p>
    </div>
</div>