@page "/recipedetails/{Id:guid}"

@inject NavigationManager Navigator

@using RecipeBytes.Client.ViewModels

<h3>RecipeDetails</h3>

@if(_recipe != null)
{
    @_recipe.Name;
}

@code {
    private RecipeViewModel? _recipe { get; set; }
    [Parameter]
    public Guid Id { get; set; }


    private RestClient? _restClient { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _restClient = new RestClient(Navigator.BaseUri);
        var existingRecipeRequest = new RestRequest($"/api/recipe/{Id}");
        _recipe = await _restClient.GetAsync<RecipeViewModel>(existingRecipeRequest);

    }
}
